---
import FaIcon from '../icons/FaIcon.vue';
import { arrowLeft } from '../icons/faicons.json';

interface Props {
    href: string
    color: string
}

const { href, color } = Astro.props as Props;
---
<button onclick={`location.href='${href}'`} style={`color: ${color}`}>
    <span>
        <FaIcon
            color={color}
            size="20 20"
            draw={arrowLeft} />
    </span>
    <span>Back</span>
</button>

<style lang="scss" scoped>
@import '../scss/globals.scss';

button {
    background: none;
    border: none;
    font-size: 1.2em;
    font-weight: 900;
    cursor: pointer;
    margin: 0;
    padding: 0 !important;
    @extend .flex-centered;

    &:hover span:first-of-type {
        background-color: rgba(255, 255, 255, 0.1);
    }

    span:first-of-type {
        height: 30px;
        width: 30px;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
    }

    span:last-of-type {
        padding-left: 0.8rem;
    }

    &:focus, &:focus-within {
        outline: none;
    }
}
</style>